.table-container.infinite-table
  %table.table.table-clickable.products-table
    %thead
      %tr
        %th= Spina::Shop::Supplier.human_attribute_name :name
        %th= Spina::Shop::Supplier.human_attribute_name :stock_orders

    %tbody
      = render partial: 'supplier', collection: @suppliers