- if single_product.has_variants?
  %tr{style: "border: none"}
    %td{style: 'width: 70px'}
      .form-checkbox{style: 'width: 20px'}
        = check_box_tag 'product_ids[]', single_product.id
        %label
    %td
    %td{colspan: 6}
      = link_to single_product.name, spina.shop_admin_product_path(single_product), class: 'table-link'
  - single_product.variants.each_with_index do |product, i|
    = render partial: 'product', object: product, locals: {variant: true, no_border: (i + 1) != single_product.variants.count}
- else
  = render partial: 'product', locals: {product: single_product}