- if single_product.variants.any?
  = render partial: 'product', object: single_product, locals: {no_border: true}
  - single_product.variants.each_with_index do |product, i|
    = render partial: 'product', object: product, locals: {variant: true, no_border: (i + 1) != single_product.variants.count}
- else
  = render partial: 'product', locals: {product: single_product}