<div class="form-control" data-form-append="%">
  <div class="input-group">
    <div class="select-dropdown">
      <%= f.select "volume_discounts[][quantity]", (1..50).map{|q| [">= #{q}", q]}, {include_blank: "Kies een aantal", selected: volume_discount["quantity"]} %>
    </div>
    
    <%= f.text_field "volume_discounts[][discount]", value: volume_discount["discount"], placeholder: "Discount" %>
  </div>
</div>