.horizontal-form-label
  = f.object.title
.horizontal-form-content
  = f.fields_for :page_partable, f.object.page_partable do |ff|
    .select-dropdown
      = ff.select :product_bundle_id, Spina::ProductBundle.all.pluck(:name, :id), include_blank: "Kies een pakket"