.list-title
  color: #666
  font-size: 12px
  font-weight: 600
  margin-bottom: -12px
  text-transform: uppercase

.list
  border-top: 1px solid #eee
  margin: 20px -20px

  .list-item
    align-items: center
    background: white
    border-bottom: 1px solid #eee
    color: #333
    display: flex
    font-size: 13px
    font-weight: 500
    justify-content: space-between
    padding: 15px 20px
    text-decoration: none

    small
      display: block
      font-weight: 400

.list-muted
  opacity: .5

  .list-item
    text-decoration: line-through