// Spina
@import spina/normalize
@import spina/configuration

// Styles
@import typography
@import buttons
@import grid
@import forms
@import notifications

// Styles
body
  background: #f5f5fa
  font-family: -apple-system

// Containers
.container
  padding: 20px