<div class="relative border <%= border_color %> rounded-full w-full h-3 flex justify-evenly">
  <% 4.times do %>
    <div class="h-full <%= bg_color %> opacity-25" style="width: 1px"></div>
  <% end %>
  
  <div class="h-full <%= bg_color %> rounded-l-full absolute left-0 top-0" style="width: <%= order.status_progress %>%"></div>
</div>