= stylesheet_link_tag "spina", data: {turbo_track: true}
= stylesheet_link_tag 'spina/shop/admin/shop', data: {turbo_track: true}
= javascript_include_tag 'spina/admin/application', data: {turbo_track: true}

= javascript_include_tag 'spina/shop/admin/shop', data: {turbo_track: true}