= stylesheet_link_tag "spina/shop/tailwind", data: {turbolinks_track: true}
= stylesheet_link_tag 'spina/shop/admin/shop', data: {turbolinks_track: true}
= javascript_include_tag 'spina/shop/admin/shop', data: {turbolinks_track: true}