<%= render Spina::MainNavigation::SubNavComponent.new(:inboxes) do |nav| %>
  <% nav.icon do %>
    <%= heroicon('shopping-bag', style: :solid, class: 'w-8 h-8 text-white md:mr-3') %>
    
    <div class="text-white font-semibold hidden md:block transform -translate-x-2 ease-in-out duration-300 absolute md:relative opacity-0 transition-all" data-navigation-target="label">
      Shop
    </div>
  <% end %>
  
  <% nav.links do %>    
    
    <%= render Spina::MainNavigation::LinkComponent.new "Bestellingen", spina.shop_admin_orders_path, active: controller_name.in?(%w(orders)) %>
    
    <%= render Spina::MainNavigation::LinkComponent.new "Producten", spina.shop_admin_products_path, active: controller_name.in?(%w(products properties product_bundles stock_level_adjustments)) %>
    
  <% end %>
<% end %>
