%li{class: ('active' if controller_name.in? %w(tax_groups product_categories product_category_properties shared_properties))}
  = link_to t('spina.shop.settings'), spina.shop_admin_settings_product_categories_path
