- content_for :header_actions do
  = link_to spina.new_shop_admin_product_bundle_path, class: 'button button-mini icon-only' do
    %i.icon.icon-plus{style: 'vertical-align: bottom'}
    
.table-container.infinite-table
  %table.table.table-clickable
    %thead
      %tr
        %th Bundel
        %th Inhoud
        %th.text-right Prijs
        %th{style: 'width: 50px'}

    %tbody= render partial: 'product_bundle', collection: @product_bundles
              
  .pagination= link_to_next_page @product_bundles, 'Next'