.table-container{style: 'margin: 0 -20px'}
  %table.table
    %tr
      %th Periode
      %th.text-right Omzet
      %th.text-right Inkoopwaarde
      %th.text-right Brutowinst
    - @orders.sort_by(&:first).each_with_index do |order, index|
      %tr
        %td
          - case @period
          - when "year"
            =l order.first, format: "%Y"
          - when "month"
            =l order.first, format: "%B %Y"
          - else
            =l order.first, format: "%d %B %Y"
        %td.text-right
          = number_to_currency order.last
        %td.text-right
          = number_to_currency @cost_prices[index].last * -1
        %td.text-right
          = number_to_currency (order.last - @cost_prices[index].last * -1)
