.infinite-table .pagination
  opacity: 0

table.table tbody.unfiltered-products-index
  table tbody tr td:nth-child(3)
    text-indent: 20px

  table tr td .product-name
    display: none

  table tr td .product-variant-name
    display: block

table.table > tbody:not(.unfiltered-products-index)
  .product-variant-name:before
    content: " / "

td.tnum
  font-feature-settings: 'tnum'
  -webkit-font-feature-settings: 'tnum'
  -moz-font-feature-settings: 'tnum'
