%header#header
  .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  %nav#secondary.tabs
    %ul
      %li.active
        = link_to '#general' do
          Productinformatie

      %li
        = link_to '#account' do
          Uitvoeringen

.tab-content.active#general
  

.tab-content#orders
  

.tab-content#account
  