- content_for(:plugin_stylesheets) do 
  = stylesheet_link_tag 'spina/admin/shop', data: {turbolinks_track: true}
  = javascript_include_tag 'spina/admin/shop', data: {turbolinks_track: true}

= render template: 'layouts/spina/admin/admin'
