%nav.tabs
  %ul
    %li.active
      = link_to '#campaigns' do
        Lopende acties

#campaigns.tab-content.active
  .table-container
    %table.table.table-clickable
      %thead
        %tr
          %th Campagne

      %tbody
        - 5.times do
          %tr
            %td= link_to ['Supercampagne', 'Bier in de Herfst', 'Een biertje voor een boertje'].sample, '#', class: 'table-link'
