.well
  - if @product_category.present?
    = f.fields_for :properties do |property_builder|
      - @product_category.item_properties.each do |property|
        = render partial: 'spina/shop/admin/products/properties/property_fields', locals: {f: property_builder, property: property, object: f.object}

  .sidebar-form-group
    .sidebar-form-label
      = Spina::Shop::ProductItem.human_attribute_name :must_be_of_age_to_buy
    .sidebar-form-control
      = f.check_box :must_be_of_age_to_buy, data: {switch: true}