%tr
  %td= link_to product_category.name, spina.shop_admin_settings_product_category_path(product_category), class: 'table-link'
  %td.text-right
    = product_category.products.not_variants.count
    %span.text-muted producten
