.horizontal-form-content
  = f.fields_for :structure_partable, f.object.structure_partable do |ff|
    = ff.select :product_id, [], {include_blank: t('spina.shop.products.select_blank')}, class: 'select-products', style: 'width: 100%', data: {value: ff.object.product_id, label: Spina::Product.where(id: ff.object.product_id).first.try(:name)}