%div{style: "margin-top: 30px"}
  .select-dropdown
    %label Voorraad
    = number_field_tag "product[stock_levels][][stock_level]", {}, placeholder: "Voorraad"

  - if @product.can_expire?
    .input-group
      .select-dropdown
        = select_tag "product[stock_levels][][expiration_month]", options_for_select((1..12).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B"), m]}), include_blank: "Maand"

      .select-dropdown
        = select_tag "product[stock_levels][][expiration_year]", options_for_select(1.year.ago.year..8.years.from_now.year), include_blank: "Jaar"