%header#header
  .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  #header_actions
    = link_to spina.edit_admin_settings_product_category_path(@product_category), class: 'button' do
      Naam wijzigen

.table-container
  %table.table
    - @product_category.properties.each do |property|
      %tr
        %td= link_to property.label, '#', class: 'table-link'
        %td= property.name