<div class="relative group mr-2 mb-2">
  <div class="btn btn-default h-9 px-3">
    <%= label %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1 -mr-1" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </div>
  
  <div class="hidden group-hover:block absolute border border-gray-300 bg-white left-0 z-10 rounded-md shadow-lg py-1.5 top-full">
    <% options.each do |option| %>
      <% if option.is_a? Array %>
        <% value = option[1] %>
        <% label = option[0] %>
      <% else %>
        <% value = label = option %>
      <% end %>
      <label class="cursor-pointer block py-1.5 px-3 whitespace-nowrap hover:bg-gray-100 mr-0 pr-6">
        <% if radio %>
          <%= f.radio_button name, value, {class: 'appearance-none border-gray-300 hover:border-gray-400 shadow-sm rounded-full checked:bg-spina hover:checked:bg-spina', data: {action: "filter#submit"}} %>
        <% else %>
          <%= f.check_box name, {class: 'appearance-none border-gray-300 hover:border-gray-400 shadow-sm rounded checked:bg-spina hover:checked:bg-spina', multiple: true, data: {action: "filter#submit"}}, value, nil %>
        <% end %>
        
        <span class="text-sm font-medium ml-1 align-middle whitespace-nowrap">
          <%= label %>
        </span>
      </label>
    <% end %>
  </div>
</div>