= render 'form'
/ %header#header
/   .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'
/   %div{style: 'display: inline-block; margin-left: 12px; margin-top: -4px; position: absolute', data: {dropdown: true}}
/     = link_to '#', class: 'button button-link button-small', data: {trigger: 'dropdown', target: '#locales'} do
/       = icon('comment')
/       NL

/     %ul#locales
/       %li
/         = link_to "Nederlands", "?locale=nl", style: "font-weight: 600"
/       %li
/         = link_to "Engels", "?locale=en"

/   #header_actions
/     %button.button.button-primary{type: 'submit'}
/       = icon('check')
/       Uitvoering opslaan

/ .sidebar-form{style: 'max-width: 1000px; margin: 0 auto'}
/   .sidebar-form-group
/     .sidebar-form-column
/       .well
/         .sidebar-form-label
/           Uitvoering

/         .sidebar-form-content
/           = text_field_tag :name, nil, placeholder: "Naam"

/         .sidebar-form-label
/           SKU

/         .sidebar-form-content
/           = text_field_tag :name, nil, placeholder: "SKU"

/         .sidebar-form-label
/           Gewicht
/           %small.text-muted in gram

/         .sidebar-form-content
/           = text_field_tag :name, nil, placeholder: "Gewicht"

/         .sidebar-form-label 
/           Locatie

/         .sidebar-form-content
/           = text_field_tag :name, nil, placeholder: "Locatie"

/       .well
/         .sidebar-form-label
/           Inhoud

/         .sidebar-form-content
/           .select-dropdown{style: 'width: 100%'}
/             = select_tag :volume, options_for_select(['30cl', '33cl', '60cl', '75cl'])

/     .sidebar-form-column
/       .well.text-center
/         %small
/           %em.text-muted Kies een afbeelding

/       .well
/         .sidebar-form-label
/           Prijs
/           %small.text-muted Inclusief btw

/         .sidebar-form-content
/           .input-group
/             = text_field_tag :sku, nil, placeholder: "Prijs"
/             .select-dropdown{style: 'min-width: 120px'}= select_tag :weight, options_for_select(['Btw hoog', 'Btw laag', 'Geen btw'])

/         .sidebar-form-label
/           Actieprijs
/           %small.text-muted Inclusief btw

/         .sidebar-form-content
/           = text_field_tag :sku, nil, placeholder: "Actieprijs"

/         .sidebar-form-label
/           Actieperiode

/         .sidebar-form-content
/           = text_field_tag :periode, nil, placeholder: "Periode"

/         .sidebar-form-label
/           Inkoopprijs
/           %small.text-muted Exclusief btw

/         .sidebar-form-content
/           = text_field_tag :sku, nil, placeholder: "Inkoopprijs"

/         .sidebar-form-label
/           Zichtbaar in catalogus
/         .sidebar-form-content
/           = check_box_tag :name, nil, true, data: {switch: true}

/         .sidebar-form-label
/           Zichtbaar in zoeken
/         .sidebar-form-content
/           = check_box_tag :name, nil, true, data: {switch: true}